# Machine Learning Pipeline

#

In [151]:
import pandas as pd
import numpy as np
from pathlib import Path
import os

import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime

from nba_api.stats.static import players
from nba_api.stats.endpoints import playergamelog
from nba_api.stats.endpoints import playercareerstats
from nba_api.stats.endpoints import teamestimatedmetrics
from nba_api.stats.endpoints import playernextngames
import pandas as pd
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import GridSearchCV

#

#

### Return a list of dictionnary

In [4]:
def get_active_players():
    active_players = players.get_active_players()
    return active_players

active_players = get_active_players()
print(active_players)

[{'id': 1630173, 'full_name': 'Precious Achiuwa', 'first_name': 'Precious', 'last_name': 'Achiuwa', 'is_active': True}, {'id': 203500, 'full_name': 'Steven Adams', 'first_name': 'Steven', 'last_name': 'Adams', 'is_active': True}, {'id': 1628389, 'full_name': 'Bam Adebayo', 'first_name': 'Bam', 'last_name': 'Adebayo', 'is_active': True}, {'id': 1630534, 'full_name': 'Ochai Agbaji', 'first_name': 'Ochai', 'last_name': 'Agbaji', 'is_active': True}, {'id': 1630583, 'full_name': 'Santi Aldama', 'first_name': 'Santi', 'last_name': 'Aldama', 'is_active': True}, {'id': 1629638, 'full_name': 'Nickeil Alexander-Walker', 'first_name': 'Nickeil', 'last_name': 'Alexander-Walker', 'is_active': True}, {'id': 1628960, 'full_name': 'Grayson Allen', 'first_name': 'Grayson', 'last_name': 'Allen', 'is_active': True}, {'id': 1628386, 'full_name': 'Jarrett Allen', 'first_name': 'Jarrett', 'last_name': 'Allen', 'is_active': True}, {'id': 1630631, 'full_name': 'Jose Alvarado', 'first_name': 'Jose', 'last_name': 'Alvarado', 'is_active': True}, {'id': 203937, 'full_name': 'Kyle Anderson', 'first_name': 'Kyle', 'last_name': 'Anderson', 'is_active': True}, {'id': 203507, 'full_name': 'Giannis Antetokounmpo', 'first_name': 'Giannis', 'last_name': 'Antetokounmpo', 'is_active': True}, {'id': 203648, 'full_name': 'Thanasis Antetokounmpo', 'first_name': 'Thanasis', 'last_name': 'Antetokounmpo', 'is_active': True}, {'id': 1630175, 'full_name': 'Cole Anthony', 'first_name': 'Cole', 'last_name': 'Anthony', 'is_active': True}, {'id': 1628384, 'full_name': 'OG Anunoby', 'first_name': 'OG', 'last_name': 'Anunoby', 'is_active': True}, {'id': 1627853, 'full_name': 'Ryan Arcidiacono', 'first_name': 'Ryan', 'last_name': 'Arcidiacono', 'is_active': True}, {'id': 1630166, 'full_name': 'Deni Avdija', 'first_name': 'Deni', 'last_name': 'Avdija', 'is_active': True}, {'id': 1629028, 'full_name': 'Deandre Ayton', 'first_name': 'Deandre', 'last_name': 'Ayton', 'is_active': True}, {'id': 1628962, 'full_name': 'Udoka Azubuike', 'first_name': 'Udoka', 'last_name': 'Azubuike', 'is_active': True}, {'id': 1628963, 'full_name': 'Marvin Bagley III', 'first_name': 'Marvin', 'last_name': 'Bagley III', 'is_active': True}, {'id': 1641735, 'full_name': 'Amari Bailey', 'first_name': 'Amari', 'last_name': 'Bailey', 'is_active': True}, {'id': 1631116, 'full_name': 'Patrick Baldwin Jr.', 'first_name': 'Patrick', 'last_name': 'Baldwin Jr.', 'is_active': True}, {'id': 1630163, 'full_name': 'LaMelo Ball', 'first_name': 'LaMelo', 'last_name': 'Ball', 'is_active': True}, {'id': 1628366, 'full_name': 'Lonzo Ball', 'first_name': 'Lonzo', 'last_name': 'Ball', 'is_active': True}, {'id': 1628964, 'full_name': 'Mo Bamba', 'first_name': 'Mo', 'last_name': 'Bamba', 'is_active': True}, {'id': 1631094, 'full_name': 'Paolo Banchero', 'first_name': 'Paolo', 'last_name': 'Banchero', 'is_active': True}, {'id': 1630217, 'full_name': 'Desmond Bane', 'first_name': 'Desmond', 'last_name': 'Bane', 'is_active': True}, {'id': 1630625, 'full_name': 'Dalano Banton', 'first_name': 'Dalano', 'last_name': 'Banton', 'is_active': True}, {'id': 1631230, 'full_name': 'Dominick Barlow', 'first_name': 'Dominick', 'last_name': 'Barlow', 'is_active': True}, {'id': 203084, 'full_name': 'Harrison Barnes', 'first_name': 'Harrison', 'last_name': 'Barnes', 'is_active': True}, {'id': 1630567, 'full_name': 'Scottie Barnes', 'first_name': 'Scottie', 'last_name': 'Barnes', 'is_active': True}, {'id': 1629628, 'full_name': 'RJ Barrett', 'first_name': 'RJ', 'last_name': 'Barrett', 'is_active': True}, {'id': 1629646, 'full_name': 'Charles Bassey', 'first_name': 'Charles', 'last_name': 'Bassey', 'is_active': True}, {'id': 1641734, 'full_name': 'Emoni Bates', 'first_name': 'Emoni', 'last_name': 'Bates', 'is_active': True}, {'id': 1628966, 'full_name': 'Keita Bates-Diop', 'first_name': 'Keita', 'last_name': 'Bates-Diop', 'is_active': True}, {'id': 201587, 'full_name': 'Nicolas Batum', 'first_name': 'Nicolas', 'last_name': 'Batum', 'is_active': True}, {'id': 203078, 'full_name': 'Bradley Beal', 'first_name': 'Bradley', 'last_name': 'Beal', 'is_active': True}, {'id': 1627736, 'full_name': 'Malik Beasley', 'first_name': 'Malik', 'last_name': 'Beasley', 'is_active': True}, {'id': 1630699, 'full_name': 'MarJon Beauchamp', 'first_name': 'MarJon', 'last_name': 'Beauchamp', 'is_active': True}, {'id': 1641777, 'full_name': 'Charles Bediako', 'first_name': 'Charles', 'last_name': 'Bediako', 'is_active': True}, {'id': 202722, 'full_name': 'Davis Bertans', 'first_name': 'Davis', 'last_name': 'Bertans', 'is_active': True}, {'id': 201976, 'full_name': 'Patrick Beverley', 'first_name': 'Patrick', 'last_name': 'Beverley', 'is_active': True}, {'id': 1630180, 'full_name': 'Saddiq Bey', 'first_name': 'Saddiq', 'last_name': 'Bey', 'is_active': True}, {'id': 1629048, 'full_name': 'Goga Bitadze', 'first_name': 'Goga', 'last_name': 'Bitadze', 'is_active': True}, {'id': 1641931, 'full_name': 'Onuralp Bitim', 'first_name': 'Onuralp', 'last_name': 'Bitim', 'is_active': True}, {'id': 202687, 'full_name': 'Bismack Biyombo', 'first_name': 'Bismack', 'last_name': 'Biyombo', 'is_active': True}, {'id': 1641710, 'full_name': 'Anthony Black', 'first_name': 'Anthony', 'last_name': 'Black', 'is_active': True}, {'id': 1641778, 'full_name': 'Leaky Black', 'first_name': 'Leaky', 'last_name': 'Black', 'is_active': True}, {'id': 203992, 'full_name': 'Bogdan Bogdanovic', 'first_name': 'Bogdan', 'last_name': 'Bogdanovic', 'is_active': True}, {'id': 202711, 'full_name': 'Bojan Bogdanovic', 'first_name': 'Bojan', 'last_name': 'Bogdanovic', 'is_active': True}, {'id': 1629626, 'full_name': 'Bol Bol', 'first_name': 'Bol', 'last_name': 'Bol', 'is_active': True}, {'id': 1629716, 'full_name': 'Marques Bolden', 'first_name': 'Marques', 'last_name': 'Bolden', 'is_active': True}, {'id': 1626164, 'full_name': 'Devin Booker', 'first_name': 'Devin', 'last_name': 'Booker', 'is_active': True}, {'id': 1630527, 'full_name': 'Brandon Boston Jr.', 'first_name': 'Brandon', 'last_name': 'Boston Jr.', 'is_active': True}, {'id': 1628449, 'full_name': 'Chris Boucher', 'first_name': 'Chris', 'last_name': 'Boucher', 'is_active': True}, {'id': 1630547, 'full_name': 'James Bouknight', 'first_name': 'James', 'last_name': 'Bouknight', 'is_active': True}, {'id': 1631103, 'full_name': 'Malaki Branham', 'first_name': 'Malaki', 'last_name': 'Branham', 'is_active': True}, {'id': 1631128, 'full_name': 'Christian Braun', 'first_name': 'Christian', 'last_name': 'Braun', 'is_active': True}, {'id': 1628969, 'full_name': 'Mikal Bridges', 'first_name': 'Mikal', 'last_name': 'Bridges', 'is_active': True}, {'id': 1628970, 'full_name': 'Miles Bridges', 'first_name': 'Miles', 'last_name': 'Bridges', 'is_active': True}, {'id': 1629052, 'full_name': 'Oshae Brissett', 'first_name': 'Oshae', 'last_name': 'Brissett', 'is_active': True}, {'id': 1627763, 'full_name': 'Malcolm Brogdon', 'first_name': 'Malcolm', 'last_name': 'Brogdon', 'is_active': True}, {'id': 1629717, 'full_name': 'Armoni Brooks', 'first_name': 'Armoni', 'last_name': 'Brooks', 'is_active': True}, {'id': 1628415, 'full_name': 'Dillon Brooks', 'first_name': 'Dillon', 'last_name': 'Brooks', 'is_active': True}, {'id': 1628971, 'full_name': 'Bruce Brown', 'first_name': 'Bruce', 'last_name': 'Brown', 'is_active': True}, {'id': 1627759, 'full_name': 'Jaylen Brown', 'first_name': 'Jaylen', 'last_name': 'Brown', 'is_active': True}, {'id': 1631112, 'full_name': 'Kendall Brown', 'first_name': 'Kendall', 'last_name': 'Brown', 'is_active': True}, {'id': 1641738, 'full_name': 'Kobe Brown', 'first_name': 'Kobe', 'last_name': 'Brown', 'is_active': True}, {'id': 1629650, 'full_name': 'Moses Brown', 'first_name': 'Moses', 'last_name': 'Brown', 'is_active': True}, {'id': 1630535, 'full_name': 'Greg Brown III', 'first_name': 'Greg', 'last_name': 'Brown III', 'is_active': True}, {'id': 1629718, 'full_name': 'Charlie Brown Jr.', 'first_name': 'Charlie', 'last_name': 'Brown Jr.', 'is_active': True}, {'id': 1628972, 'full_name': 'Troy Brown Jr.', 'first_name': 'Troy', 'last_name': 'Brown Jr.', 'is_active': True}, {'id': 1628973, 'full_name': 'Jalen Brunson', 'first_name': 'Jalen', 'last_name': 'Brunson', 'is_active': True}, {'id': 1628418, 'full_name': 'Thomas Bryant', 'first_name': 'Thomas', 'last_name': 'Bryant', 'is_active': True}, {'id': 1641723, 'full_name': 'Kobe Bufkin', 'first_name': 'Kobe', 'last_name': 'Bufkin', 'is_active': True}, {'id': 203493, 'full_name': 'Reggie Bullock Jr.', 'first_name': 'Reggie', 'last_name': 'Bullock Jr.', 'is_active': True}, {'id': 202692, 'full_name': 'Alec Burks', 'first_name': 'Alec', 'last_name': 'Burks', 'is_active': True}, {'id': 1630215, 'full_name': 'Jared Butler', 'first_name': 'Jared', 'last_name': 'Butler', 'is_active': True}, {'id': 202710, 'full_name': 'Jimmy Butler', 'first_name': 'Jimmy', 'last_name': 'Butler', 'is_active': True}, {'id': 1631219, 'full_name': 'John Butler Jr.', 'first_name': 'John', 'last_name': 'Butler Jr.', 'is_active': True}, {'id': 1631288, 'full_name': 'Jamal Cain', 'first_name': 'Jamal', 'last_name': 'Cain', 'is_active': True}, {'id': 203484, 'full_name': 'Kentavious Caldwell-Pope', 'first_name': 'Kentavious', 'last_name': 'Caldwell-Pope', 'is_active': True}, {'id': 1641739, 'full_name': 'Toumani Camara', 'first_name': 'Toumani', 'last_name': 'Camara', 'is_active': True}, {'id': 1628427, 'full_name': 'Vlatko Cancar', 'first_name': 'Vlatko', 'last_name': 'Cancar', 'is_active': True}, {'id': 203991, 'full_name': 'Clint Capela', 'first_name': 'Clint', 'last_name': 'Capela', 'is_active': True}, {'id': 1628975, 'full_name': 'Jevon Carter', 'first_name': 'Jevon', 'last_name': 'Carter', 'is_active': True}, {'id': 1628976, 'full_name': 'Wendell Carter Jr.', 'first_name': 'Wendell', 'last_name': 'Carter Jr.', 'is_active': True}, {'id': 1627936, 'full_name': 'Alex Caruso', 'first_name': 'Alex', 'last_name': 'Caruso', 'is_active': True}, {'id': 1630658, 'full_name': 'Colin Castleton', 'first_name': 'Colin', 'last_name': 'Castleton', 'is_active': True}, {'id': 1630608, 'full_name': 'Malcolm Cazalon', 'first_name': 'Malcolm', 'last_name': 'Cazalon', 'is_active': True}, {'id': 1630577, 'full_name': 'Julian Champagnie', 'first_name': 'Julian', 'last_name': 'Champagnie', 'is_active': True}, {'id': 1631108, 'full_name': 'Max Christie', 'first_name': 'Max', 'last_name': 'Christie', 'is_active': True}, {'id': 1630528, 'full_name': 'Josh Christopher', 'first_name': 'Josh', 'last_name': 'Christopher', 'is_active': True}, {'id': 1631321, 'full_name': 'Sidy Cissoko', 'first_name': 'Sidy', 'last_name': 'Cissoko', 'is_active': True}, {'id': 1641740, 'full_name': 'Jaylen Clark', 'first_name': 'Jaylen', 'last_name': 'Clark', 'is_active': True}, {'id': 1629634, 'full_name': 'Brandon Clarke', 'first_name': 'Brandon', 'last_name': 'Clarke', 'is_active': True}, {'id': 203903, 'full_name': 'Jordan Clarkson', 'first_name': 'Jordan', 'last_name': 'Clarkson', 'is_active': True}, {'id': 1629651, 'full_name': 'Nic Claxton', 'first_name': 'Nic', 'last_name': 'Claxton', 'is_active': True}, {'id': 1641730, 'full_name': 'Noah Clowney', 'first_name': 'Noah', 'last_name': 'Clowney', 'is_active': True}, {'id': 1629599, 'full_name': 'Amir Coffey', 'first_name': 'Amir', 'last_name': 'Coffey', 'is_active': True}, {'id': 1628381, 'full_name': 'John Collins', 'first_name': 'John', 'last_name': 'Collins', 'is_active': True}, {'id': 1628380, 'full_name': 'Zach Collins', 'first_name': 'Zach', 'last_name': 'Collins', 'is_active': True}, {'id': 201144, 'full_name': 'Mike Conley', 'first_name': 'Mike', 'last_name': 'Conley', 'is_active': True}, {'id': 1626192, 'full_name': 'Pat Connaughton', 'first_name': 'Pat', 'last_name': 'Connaughton', 'is_active': True}, {'id': 1641731, 'full_name': 'Bilal Coulibaly', 'first_name': 'Bilal', 'last_name': 'Coulibaly', 'is_active': True}, {'id': 1641741, 'full_name': 'Ricky Council IV', 'first_name': 'Ricky', 'last_name': 'Council IV', 'is_active': True}, {'id': 203496, 'full_name': 'Robert Covington', 'first_name': 'Robert', 'last_name': 'Covington', 'is_active': True}, {'id': 1628470, 'full_name': 'Torrey Craig', 'first_name': 'Torrey', 'last_name': 'Craig', 'is_active': True}, {'id': 203109, 'full_name': 'Jae Crowder', 'first_name': 'Jae', 'last_name': 'Crowder', 'is_active': True}, {'id': 1630595, 'full_name': 'Cade Cunningham', 'first_name': 'Cade', 'last_name': 'Cunningham', 'is_active': True}, {'id': 203552, 'full_name': 'Seth Curry', 'first_name': 'Seth', 'last_name': 'Curry', 'is_active': True}, {'id': 201939, 'full_name': 'Stephen Curry', 'first_name': 'Stephen', 'last_name': 'Curry', 'is_active': True}, {'id': 1630700, 'full_name': 'Dyson Daniels', 'first_name': 'Dyson', 'last_name': 'Daniels', 'is_active': True}, {'id': 203076, 'full_name': 'Anthony Davis', 'first_name': 'Anthony', 'last_name': 'Davis', 'is_active': True}, {'id': 1631098, 'full_name': 'Johnny Davis', 'first_name': 'Johnny', 'last_name': 'Davis', 'is_active': True}, {'id': 1631120, 'full_name': 'JD Davison', 'first_name': 'JD', 'last_name': 'Davison', 'is_active': True}, {'id': 201942, 'full_name': 'DeMar DeRozan', 'first_name': 'DeMar', 'last_name': 'DeRozan', 'is_active': True}, {'id': 1641926, 'full_name': 'Dexter Dennis', 'first_name': 'Dexter', 'last_name': 'Dennis', 'is_active': True}, {'id': 1628978, 'full_name': 'Donte DiVincenzo', 'first_name': 'Donte', 'last_name': 'DiVincenzo', 'is_active': True}, {'id': 1631217, 'full_name': 'Moussa Diabate', 'first_name': 'Moussa', 'last_name': 'Diabate', 'is_active': True}, {'id': 1641711, 'full_name': 'Gradey Dick', 'first_name': 'Gradey', 'last_name': 'Dick', 'is_active': True}, {'id': 1631172, 'full_name': 'Ousmane Dieng', 'first_name': 'Ousmane', 'last_name': 'Dieng', 'is_active': True}, {'id': 203915, 'full_name': 'Spencer Dinwiddie', 'first_name': 'Spencer', 'last_name': 'Dinwiddie', 'is_active': True}, {'id': 1629029, 'full_name': 'Luka Doncic', 'first_name': 'Luka', 'last_name': 'Doncic', 'is_active': True}, {'id': 1629652, 'full_name': 'Luguentz Dort', 'first_name': 'Luguentz', 'last_name': 'Dort', 'is_active': True}, {'id': 1630245, 'full_name': 'Ayo Dosunmu', 'first_name': 'Ayo', 'last_name': 'Dosunmu', 'is_active': True}, {'id': 203083, 'full_name': 'Andre Drummond', 'first_name': 'Andre', 'last_name': 'Drummond', 'is_active': True}, {'id': 1630537, 'full_name': 'Chris Duarte', 'first_name': 'Chris', 'last_name': 'Duarte', 'is_active': True}, {'id': 1627739, 'full_name': 'Kris Dunn', 'first_name': 'Kris', 'last_name': 'Dunn', 'is_active': True}, {'id': 201142, 'full_name': 'Kevin Durant', 'first_name': 'Kevin', 'last_name': 'Durant', 'is_active': True}, {'id': 1631105, 'full_name': 'Jalen Duren', 'first_name': 'Jalen', 'last_name': 'Duren', 'is_active': True}, {'id': 1631106, 'full_name': 'Tari Eason', 'first_name': 'Tari', 'last_name': 'Eason', 'is_active': True}, {'id': 1630162, 'full_name': 'Anthony Edwards', 'first_name': 'Anthony', 'last_name': 'Edwards', 'is_active': True}, {'id': 1630556, 'full_name': 'Kessler Edwards', 'first_name': 'Kessler', 'last_name': 'Edwards', 'is_active': True}, {'id': 1631165, 'full_name': 'Keon Ellis', 'first_name': 'Keon', 'last_name': 'Ellis', 'is_active': True}, {'id': 203954, 'full_name': 'Joel Embiid', 'first_name': 'Joel', 'last_name': 'Embiid', 'is_active': True}, {'id': 1629234, 'full_name': 'Drew Eubanks', 'first_name': 'Drew', 'last_name': 'Eubanks', 'is_active': True}, {'id': 203957, 'full_name': 'Dante Exum', 'first_name': 'Dante', 'last_name': 'Exum', 'is_active': True}, {'id': 1628981, 'full_name': 'Bruno Fernando', 'first_name': 'Bruno', 'last_name': 'Fernando', 'is_active': True}, {'id': 1627827, 'full_name': 'Dorian Finney-Smith', 'first_name': 'Dorian', 'last_name': 'Finney-Smith', 'is_active': True}, {'id': 1630201, 'full_name': 'Malachi Flynn', 'first_name': 'Malachi', 'last_name': 'Flynn', 'is_active': True}, {'id': 1631323, 'full_name': 'Simone Fontecchio', 'first_name': 'Simone', 'last_name': 'Fontecchio', 'is_active': True}, {'id': 1630259, 'full_name': 'Jordan Ford', 'first_name': 'Jordan', 'last_name': 'Ford', 'is_active': True}, {'id': 1630235, 'full_name': 'Trent Forrest', 'first_name': 'Trent', 'last_name': 'Forrest', 'is_active': True}, {'id': 203095, 'full_name': 'Evan Fournier', 'first_name': 'Evan', 'last_name': 'Fournier', 'is_active': True}, {'id': 1628368, 'full_name': "De'Aaron Fox", 'first_name': "De'Aaron", 'last_name': 'Fox', 'is_active': True}, {'id': 1631241, 'full_name': 'Javon Freeman-Liberty', 'first_name': 'Javon', 'last_name': 'Freeman-Liberty', 'is_active': True}, {'id': 1641788, 'full_name': 'Alex Fudge', 'first_name': 'Alex', 'last_name': 'Fudge', 'is_active': True}, {'id': 1628365, 'full_name': 'Markelle Fultz', 'first_name': 'Markelle', 'last_name': 'Fultz', 'is_active': True}, {'id': 1629655, 'full_name': 'Daniel Gafford', 'first_name': 'Daniel', 'last_name': 'Gafford', 'is_active': True}, {'id': 201568, 'full_name': 'Danilo Gallinari', 'first_name': 'Danilo', 'last_name': 'Gallinari', 'is_active': True}, {'id': 1629636, 'full_name': 'Darius Garland', 'first_name': 'Darius', 'last_name': 'Garland', 'is_active': True}, {'id': 1630586, 'full_name': 'Usman Garuba', 'first_name': 'Usman', 'last_name': 'Garuba', 'is_active': True}, {'id': 1630568, 'full_name': 'Luka Garza', 'first_name': 'Luka', 'last_name': 'Garza', 'is_active': True}, {'id': 1629232, 'full_name': 'Kaiser Gates', 'first_name': 'Kaiser', 'last_name': 'Gates', 'is_active': True}, {'id': 1641718, 'full_name': 'Keyonte George', 'first_name': 'Keyonte', 'last_name': 'George', 'is_active': True}, {'id': 202331, 'full_name': 'Paul George', 'first_name': 'Paul', 'last_name': 'George', 'is_active': True}, {'id': 1630581, 'full_name': 'Josh Giddey', 'first_name': 'Josh', 'last_name': 'Giddey', 'is_active': True}, {'id': 1628385, 'full_name': 'Harry Giles III', 'first_name': 'Harry', 'last_name': 'Giles III', 'is_active': True}, {'id': 1628983, 'full_name': 'Shai Gilgeous-Alexander', 'first_name': 'Shai', 'last_name': 'Gilgeous-Alexander', 'is_active': True}, {'id': 1630264, 'full_name': 'Anthony Gill', 'first_name': 'Anthony', 'last_name': 'Gill', 'is_active': True}, {'id': 1631221, 'full_name': 'Collin Gillespie', 'first_name': 'Collin', 'last_name': 'Gillespie', 'is_active': True}, {'id': 1631367, 'full_name': 'Jacob Gilyard', 'first_name': 'Jacob', 'last_name': 'Gilyard', 'is_active': True}, {'id': 203497, 'full_name': 'Rudy Gobert', 'first_name': 'Rudy', 'last_name': 'Gobert', 'is_active': True}, {'id': 1630692, 'full_name': 'Jordan Goodwin', 'first_name': 'Jordan', 'last_name': 'Goodwin', 'is_active': True}, {'id': 203932, 'full_name': 'Aaron Gordon', 'first_name': 'Aaron', 'last_name': 'Gordon', 'is_active': True}, {'id': 201569, 'full_name': 'Eric Gordon', 'first_name': 'Eric', 'last_name': 'Gordon', 'is_active': True}, {'id': 1628984, 'full_name': "Devonte' Graham", 'first_name': "Devonte'", 'last_name': 'Graham', 'is_active': True}, {'id': 203924, 'full_name': 'Jerami Grant', 'first_name': 'Jerami', 'last_name': 'Grant', 'is_active': True}, {'id': 1631260, 'full_name': 'AJ Green', 'first_name': 'AJ', 'last_name': 'Green', 'is_active': True}, {'id': 201980, 'full_name': 'Danny Green', 'first_name': 'Danny', 'last_name': 'Green', 'is_active': True}, {'id': 203110, 'full_name': 'Draymond Green', 'first_name': 'Draymond', 'last_name': 'Green', 'is_active': True}, {'id': 1630224, 'full_name': 'Jalen Green', 'first_name': 'Jalen', 'last_name': 'Green', 'is_active': True}, {'id': 201145, 'full_name': 'Jeff Green', 'first_name': 'Jeff', 'last_name': 'Green', 'is_active': True}, {'id': 1630182, 'full_name': 'Josh Green', 'first_name': 'Josh', 'last_name': 'Green', 'is_active': True}, {'id': 1631100, 'full_name': 'AJ Griffin', 'first_name': 'AJ', 'last_name': 'Griffin', 'is_active': True}, {'id': 1629656, 'full_name': 'Quentin Grimes', 'first_name': 'Quentin', 'last_name': 'Grimes', 'is_active': True}, {'id': 1631243, 'full_name': 'Mouhamed Gueye', 'first

In [5]:
player_id = [d.get('id') for d in active_players]
print(player_id)

[1630173, 203500, 1628389, 1630534, 1630583, 1629638, 1628960, 1628386, 1630631, 203937, 203507, 203648, 1630175, 1628384, 1627853, 1630166, 1629028, 1628962, 1628963, 1641735, 1631116, 1630163, 1628366, 1628964, 1631094, 1630217, 1630625, 1631230, 203084, 1630567, 1629628, 1629646, 1641734, 1628966, 201587, 203078, 1627736, 1630699, 1641777, 202722, 201976, 1630180, 1629048, 1641931, 202687, 1641710, 1641778, 203992, 202711, 1629626, 1629716, 1626164, 1630527, 1628449, 1630547, 1631103, 1631128, 1628969, 1628970, 1629052, 1627763, 1629717, 1628415, 1628971, 1627759, 1631112, 1641738, 1629650, 1630535, 1629718, 1628972, 1628973, 1628418, 1641723, 203493, 202692, 1630215, 202710, 1631219, 1631288, 203484, 1641739, 1628427, 203991, 1628975, 1628976, 1627936, 1630658, 1630608, 1630577, 1631108, 1630528, 1631321, 1641740, 1629634, 203903, 1629651, 1641730, 1629599, 1628381, 1628380, 201144, 1626192, 1641731, 1641741, 203496, 1628470, 203109, 1630595, 203552, 201939, 1630700, 203076, 1631098, 1631120, 201942, 1641926, 1628978, 1631217, 1641711, 1631172, 203915, 1629029, 1629652, 1630245, 203083, 1630537, 1627739, 201142, 1631105, 1631106, 1630162, 1630556, 1631165, 203954, 1629234, 203957, 1628981, 1627827, 1630201, 1631323, 1630259, 1630235, 203095, 1628368, 1631241, 1641788, 1628365, 1629655, 201568, 1629636, 1630586, 1630568, 1629232, 1641718, 202331, 1630581, 1628385, 1628983, 1630264, 1631221, 1631367, 203497, 1630692, 203932, 201569, 1628984, 203924, 1631260, 201980, 203110, 1630224, 201145, 1630182, 1631100, 1629656, 1631243, 1629060, 1630169, 1630181, 203501, 201935, 1630702, 1631199, 203914, 203925, 1630284, 202699, 1628404, 1628392, 1630573, 1641722, 1629637, 1630165, 202330, 1630703, 1641707, 1629639, 1627741, 1629312, 1630207, 1641793, 1628988, 201950, 203200, 1626158, 1631096, 1641720, 201143, 1629659, 1627863, 1631216, 1641724, 1628989, 1630643, 1629631, 1630538, 204060, 1627742, 202681, 1628371, 1631093, 1641713, 1630543, 202704, 1641748, 1628991, 1631218, 2544, 1631170, 1629610, 1629660, 1630198, 1629661, 1630552, 1629640, 1630553, 1641749, 203999, 1641732, 1627745, 1630529, 1630200, 1626145, 1627884, 201599, 202709, 1631107, 1630548, 1628379, 1631117, 1630296, 1630557, 1628467, 1630233, 1628995, 1631132, 1629723, 1627788, 1628436, 1630228, 1628398, 1631222, 203897, 1629111, 1630639, 1627747, 1627814, 1630240, 203458, 202695, 1631171, 1641721, 1630184, 1630604, 203081, 1629642, 1641726, 1630587, 1641753, 1631254, 1626172, 201572, 201577, 201567, 200768, 1641754, 1626168, 1630177, 1630572, 1629611, 1630544, 1626246, 1628374, 1630230, 1628997, 1628998, 1630231, 1629726, 1631097, 202083, 1630178, 1630219, 1630540, 203468, 204456, 1630183, 1629667, 203926, 201580, 1631121, 1629162, 1629001, 1630241, 1629002, 203995, 203114, 1641706, 1641757, 1631159, 201988, 1629003, 1631303, 1631169, 1630558, 1628378, 1630596, 1630600, 1628370, 1630541, 1631111, 1629630, 202693, 1628420, 202694, 1630530, 1627749, 1627750, 1631099, 1631200, 203488, 1629004, 1626204, 1629614, 1630174, 1627777, 1630227, 1630192, 1641936, 1641806, 1628373, 203994, 1629670, 1626220, 1629643, 1629006, 1630168, 1630171, 203506, 203482, 1630647, 1626224, 1626162, 101108, 1626166, 1627780, 1630196, 1641763, 1629618, 203486, 1641764, 1627751, 1630197, 1629673, 1641854, 1629008, 203490, 1626171, 204001, 1630695, 203939, 1626181, 1630563, 1627752, 1630202, 1641765, 1630243, 1629674, 1630193, 1631311, 203944, 1641871, 1630559, 1629629, 1630194, 1629675, 1631197, 1641811, 1630208, 1626196, 1629130, 1629010, 1629011, 1631115, 1630526, 1631223, 1631157, 201565, 1626179, 201937, 1641712, 1626156, 1630346, 1627734, 1629677, 1631257, 1641766, 1630611, 203967, 1630846, 1631204, 1629678, 203471, 1631220, 1630578, 1641729, 1629012, 1629013, 1630549, 1631101, 1641767, 1627783, 1627732, 1629014, 1630579, 1641771, 1630606, 203935, 1630696, 202397, 1630188, 1631173, 1628372, 1631095, 1641733, 1631110, 1630531, 1630205, 1630191, 1631124, 1629622, 1630591, 1631306, 1630256, 1628369, 1630678, 202066, 1631207, 1628464, 1630560, 1641708, 1641709, 202691, 202684, 1630550, 1629680, 1630214, 1631210, 1630167, 1626157, 1629018, 1631131, 200782, 1626167, 1641816, 1630649, 202685, 1627832, 1629020, 1630170, 1628426, 1629216, 202696, 1629731, 1630532, 1629021, 1630688, 1631133, 1641716, 1629022, 1641717, 1641775, 1629023, 1630613, 1631102, 1629139, 1630322, 1630570, 1631212, 1641705, 1631104, 201566, 1629632, 1628401, 1641727, 1641715, 1630598, 203952, 1629623, 1629684, 1631114, 1631119, 1629026, 1631109, 1631466, 1630172, 1630533, 1629057, 1631246, 1629627, 1630592, 1629685, 1630164, 1631209, 1626174, 1626153, 201152, 1629027, 1630209, 203469, 1627826]

In [9]:
def fetch_nba_player_stats(season, existing_player_ids=[]):
    all_players_stats_list = []

    for player_id in existing_player_ids:
        try:
            gamelog = playergamelog.PlayerGameLog(player_id=str(player_id), season=season)
            df = gamelog.get_data_frames()[0]
            all_players_stats_list.append(df)
        except Exception as e:
            print(f"Erreur lors de la récupération des données pour le joueur (ID: {player_id}): {e}")

    if all_players_stats_list:
        all_players_stats = pd.concat(all_players_stats_list, ignore_index=True)
        return all_players_stats
    else:
        return pd.DataFrame()

In [65]:
def get_perf_players_each_season(list_of_seasons):
    active_players = players.get_active_players()
    player_ids = [d.get('id') for d in active_players]
    
    all_seasons_stats_list = []

    for season in list_of_seasons:
        season_stats = fetch_nba_player_stats(season, player_ids)
        season_stats['Season'] = season  # Ajoute une colonne pour identifier la saison des stats
        all_seasons_stats_list.append(season_stats)

    # Concaténer tous les DataFrames de chaque saison en un seul DataFrame
    all_seasons_stats = pd.concat(all_seasons_stats_list, ignore_index=True)
    
    return all_seasons_stats

# Liste des saisons pour lesquelles récupérer les stats
list_of_seasons = ['2022-23', "2023-24"]

In [66]:
all_players_stats= get_perf_players_each_season(list_of_seasons)

C:\Users\BriacMarchandise\AppData\Local\Temp\ipykernel_20408\311310846.py:13: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_players_stats = pd.concat(all_players_stats_list, ignore_index=True)
C:\Users\BriacMarchandise\AppData\Local\Temp\ipykernel_20408\311310846.py:13: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_players_stats = pd.concat(all_players_stats_list, ignore_index=True)

In [67]:
all_players_stats.head()

,SEASON_ID,Player_ID,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,...,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE,Season
0,22022,1630173,0022201221,"APR 09, 2023",TOR vs. MIL,W,28,6,11,0.545,...,13,1,2,0,2,2,14,9,1,2022-23
1,22022,1630173,0022201206,"APR 07, 2023",TOR @ BOS,L,24,6,10,0.600,...,7,0,1,0,0,3,16,-9,1,2022-23
2,22022,1630173,0022201192,"APR 05, 2023",TOR @ BOS,L,20,7,11,0.636,...,9,0,0,1,1,2,16,-4,1,2022-23
3,22022,1630173,0022201176,"APR 04, 2023",TOR @ CHA,W,15,4,8,0.500,...,4,1,1,0,0,1,12,9,1,2022-23
4,22022,1630173,0022201163,"APR 02, 2023",TOR @ CHA,W,13,4,7,0.571,...,3,0,0,0,1,0,8,6,1,2022-23

In [68]:
all_players_stats.shape

(39815, 28)

In [69]:
all_players_stats['GAME_DATE'] = pd.to_datetime(all_players_stats['GAME_DATE'], format='%b %d, %Y')

col_type = all_players_stats["GAME_DATE"].dtypes
print(col_type)

datetime64[ns]

In [70]:
player_id_full_name = [{'Player_ID': d.get('id'), 'full_name': d.get('full_name')} for d in active_players]

In [71]:
player_id_full_name_df = pd.DataFrame(player_id_full_name)
player_id_full_name_df.head()

   Player_ID         full_name
0    1630173  Precious Achiuwa
1     203500      Steven Adams
2    1628389       Bam Adebayo
3    1630534      Ochai Agbaji
4    1630583      Santi Aldama

In [73]:
stat_player_game_with_names = pd.merge(all_players_stats, player_id_full_name_df, on='Player_ID', how='inner')

columns_order = [col for col in player_id_full_name_df.columns if col != 'id'] + [col for col in all_players_stats.columns if col != 'id']
stat_player_game_with_names = stat_player_game_with_names[columns_order]

stat_player_game_with_names.tail(10)

,Player_ID,full_name,SEASON_ID,Player_ID,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,...,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE,Season
39805,1627826,Ivica Zubac,22023,1627826,0022300024,2023-11-14,LAC @ DEN,L,26,2,...,13,3,0,1,0,4,9,-3,1,2023-24
39806,1627826,Ivica Zubac,22023,1627826,0022300179,2023-11-12,LAC vs. MEM,L,23,2,...,6,1,1,0,1,3,6,-6,1,2023-24
39807,1627826,Ivica Zubac,22023,1627826,0022300014,2023-11-10,LAC @ DAL,L,22,5,...,8,1,0,2,1,3,12,1,1,2023-24
39808,1627826,Ivica Zubac,22023,1627826,0022300160,2023-11-08,LAC @ BKN,L,29,5,...,10,1,0,3,1,5,10,-11,1,2023-24
39809,1627826,Ivica Zubac,22023,1627826,0022300151,2023-11-06,LAC @ NYK,L,30,3,...,7,0,1,2,5,3,8,-18,1,2023-24
39810,1627826,Ivica Zubac,22023,1627826,0022300127,2023-11-01,LAC @ LAL,L,29,3,...,9,0,0,0,1,5,7,-6,1,2023-24
39811,1627826,Ivica Zubac,22023,1627826,0022300114,2023-10-31,LAC vs. ORL,W,23,4,...,9,1,0,1,1,1,9,19,1,2023-24
39812,1627826,Ivica Zubac,22023,1627826,0022300099,2023-10-29,LAC vs. SAS,W,22,6,...,8,0,0,1,1,4,16,23,1,2023-24
39813,1627826,Ivica Zubac,22023,1627826,0022300085,2023-10-27,LAC @ UTA,L,19,3,...,2,0,0,2,1,2,6,1,1,2023-24
39814,1627826,Ivica Zubac,22023,1627826,0022300074,2023-10-25,LAC vs. POR,W,26,8,...,12,0,0,4,2,3,20,25,1,2023-24

In [75]:
stat_player_game_with_names.columns

Index(['Player_ID', 'full_name', 'SEASON_ID', 'Player_ID', 'Game_ID',
       'GAME_DATE', 'MATCHUP', 'WL', 'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M',
       'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST',
       'STL', 'BLK', 'TOV', 'PF', 'PTS', 'PLUS_MINUS', 'VIDEO_AVAILABLE',
       'Season'],
      dtype='object')

In [89]:
stat_player_game_with_names.head()

,Player_ID,full_name,SEASON_ID,Player_ID,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,...,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE,Season
0,1630173,Precious Achiuwa,22022,1630173,0022201221,2023-04-09,TOR vs. MIL,W,28,6,...,13,1,2,0,2,2,14,9,1,2022-23
1,1630173,Precious Achiuwa,22022,1630173,0022201206,2023-04-07,TOR @ BOS,L,24,6,...,7,0,1,0,0,3,16,-9,1,2022-23
2,1630173,Precious Achiuwa,22022,1630173,0022201192,2023-04-05,TOR @ BOS,L,20,7,...,9,0,0,1,1,2,16,-4,1,2022-23
3,1630173,Precious Achiuwa,22022,1630173,0022201176,2023-04-04,TOR @ CHA,W,15,4,...,4,1,1,0,0,1,12,9,1,2022-23
4,1630173,Precious Achiuwa,22022,1630173,0022201163,2023-04-02,TOR @ CHA,W,13,4,...,3,0,0,0,1,0,8,6,1,2022-23

#

#

In [115]:
all_players_stats_1 = pd.read_csv("../dataset/player_stats_all_2024-02-09 17-06-12.csv")

In [116]:
all_players_stats_1.head()

,Player_ID,full_name,SEASON_ID,Player_ID.1,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,...,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE,Season
0,203500,Steven Adams,22019,203500,21901317,2020-08-14,OKC @ LAC,L,6,0,...,4,0,0,0,1,0,0,2,1,2019-20
1,203500,Steven Adams,22019,203500,21901306,2020-08-12,OKC vs. MIA,W,20,4,...,8,0,1,0,0,0,8,-7,1,2019-20
2,203500,Steven Adams,22019,203500,21901265,2020-08-05,OKC @ LAL,W,28,7,...,7,2,0,0,1,2,18,13,1,2019-20
3,203500,Steven Adams,22019,203500,21901251,2020-08-03,OKC vs. DEN,L,34,3,...,10,1,0,0,2,6,9,-18,1,2019-20
4,203500,Steven Adams,22019,203500,21901240,2020-08-01,OKC vs. UTA,W,28,7,...,11,2,0,2,4,3,16,15,1,2019-20

In [117]:
def concat_dataframe(df1, df2):

    df_concat = pd.concat([df1, df2], axis=0)
    return df_concat

In [ ]:
all_players_stats_full = concat_dataframe(all_players_stats_1, stat_player_game_with_names)

In [119]:
print("shape = ", all_players_stats_full.shape)
all_players_stats_full.head()

shape =  (89923, 30)

,full_name,SEASON_ID,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,...,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE,Season,Player_ID,Player_ID
0,Steven Adams,22019,21901317,2020-08-14,OKC @ LAC,L,6,0,2,0.000,...,0,0,1,0,0,2,1,2019-20,203500,203500
1,Steven Adams,22019,21901306,2020-08-12,OKC vs. MIA,W,20,4,7,0.571,...,1,0,0,0,8,-7,1,2019-20,203500,203500
2,Steven Adams,22019,21901265,2020-08-05,OKC @ LAL,W,28,7,10,0.700,...,0,0,1,2,18,13,1,2019-20,203500,203500
3,Steven Adams,22019,21901251,2020-08-03,OKC vs. DEN,L,34,3,6,0.500,...,0,0,2,6,9,-18,1,2019-20,203500,203500
4,Steven Adams,22019,21901240,2020-08-01,OKC vs. UTA,W,28,7,10,0.700,...,0,2,4,3,16,15,1,2019-20,203500,203500

In [122]:
columns_to_keep = all_players_stats_full.columns.drop('Player_ID', 1).tolist() + ['Player_ID']
# Sélectionnez ces colonnes, ce qui aura pour effet de ne garder que la première occurrence de "age"
all_players_stats_full = all_players_stats_full.loc[:, columns_to_keep]

In [124]:
all_players_stats_full = all_players_stats_full.iloc[:, :29]

In [125]:
all_players_stats_full.head()

,full_name,SEASON_ID,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,...,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE,Season,Player_ID
0,Steven Adams,22019,21901317,2020-08-14,OKC @ LAC,L,6,0,2,0.000,...,0,0,0,1,0,0,2,1,2019-20,203500
1,Steven Adams,22019,21901306,2020-08-12,OKC vs. MIA,W,20,4,7,0.571,...,0,1,0,0,0,8,-7,1,2019-20,203500
2,Steven Adams,22019,21901265,2020-08-05,OKC @ LAL,W,28,7,10,0.700,...,2,0,0,1,2,18,13,1,2019-20,203500
3,Steven Adams,22019,21901251,2020-08-03,OKC vs. DEN,L,34,3,6,0.500,...,1,0,0,2,6,9,-18,1,2019-20,203500
4,Steven Adams,22019,21901240,2020-08-01,OKC vs. UTA,W,28,7,10,0.700,...,2,0,2,4,3,16,15,1,2019-20,203500

In [126]:
new_order = ["Player_ID"] + [col for col in all_players_stats_full.columns if col != "Player_ID"]

all_players_stats_full = all_players_stats_full[new_order]

In [134]:
all_players_stats_full.tail()

,Player_ID,full_name,SEASON_ID,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,Season
39810,1627826,Ivica Zubac,22023,0022300127,2023-11-01 00:00:00,LAC @ LAL,L,29,3,8,...,7,9,0,0,0,1,5,7,-6,2023-24
39811,1627826,Ivica Zubac,22023,0022300114,2023-10-31 00:00:00,LAC vs. ORL,W,23,4,8,...,7,9,1,0,1,1,1,9,19,2023-24
39812,1627826,Ivica Zubac,22023,0022300099,2023-10-29 00:00:00,LAC vs. SAS,W,22,6,7,...,6,8,0,0,1,1,4,16,23,2023-24
39813,1627826,Ivica Zubac,22023,0022300085,2023-10-27 00:00:00,LAC @ UTA,L,19,3,6,...,2,2,0,0,2,1,2,6,1,2023-24
39814,1627826,Ivica Zubac,22023,0022300074,2023-10-25 00:00:00,LAC vs. POR,W,26,8,10,...,7,12,0,0,4,2,3,20,25,2023-24

In [128]:
all_players_stats_full.drop("VIDEO_AVAILABLE", axis = 1, inplace=True)

In [135]:
all_players_stats_full['GAME_DATE'] = pd.to_datetime(all_players_stats_full['GAME_DATE'])

col_type = all_players_stats_full["GAME_DATE"].dtypes
print(col_type)

datetime64[ns]

In [139]:
all_players_stats_full = all_players_stats_full.sort_values(by='GAME_DATE', ascending=False)

In [ ]:
all_players_stats_full.reset_index()

In [147]:
all_players_stats_full.head()

,Player_ID,full_name,SEASON_ID,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,Season
33919,203488,Mike Muscala,22023,0022300741,2024-02-08,DET @ POR,W,17,2,5,...,1,3,2,0,1,1,0,6,-15,2023-24
27256,1630245,Ayo Dosunmu,22023,0022300737,2024-02-08,CHI @ MEM,W,27,4,5,...,0,0,2,0,0,2,2,10,-1,2023-24
30519,1641748,Andre Jackson Jr.,22023,0022300738,2024-02-08,MIL vs. MIN,L,18,0,2,...,1,1,3,1,0,1,0,0,-11,2023-24
30922,1630553,Keon Johnson,22023,0022300735,2024-02-08,BKN vs. CLE,L,14,1,3,...,0,2,0,2,0,1,2,3,-5,2023-24
31310,1631117,Walker Kessler,22023,0022300739,2024-02-08,UTA @ PHX,L,27,4,6,...,4,9,2,2,4,0,1,10,-5,2023-24

In [146]:
all_players_stats_full.dtypes

Player_ID             object
full_name             object
SEASON_ID             object
Game_ID               object
GAME_DATE     datetime64[ns]
MATCHUP               object
WL                    object
MIN                   object
FGM                   object
FGA                   object
FG_PCT               float64
FG3M                  object
FG3A                  object
FG3_PCT              float64
FTM                   object
FTA                   object
FT_PCT               float64
OREB                  object
DREB                  object
REB                   object
AST                   object
STL                   object
BLK                   object
TOV                   object
PF                    object
PTS                   object
PLUS_MINUS            object
Season                object
dtype: object

# Drop unseful data

#

#
#
#
#
#
#
#
#
#

#

# Next player games

In [154]:
def fetch_next_player_games(existing_player_ids=[]):
    all_players_stats_list = []

    for player_id in existing_player_ids:
        try:
            # Récupération des données de jeux suivants pour le joueur
            gamelog = playernextngames.PlayerNextNGames(player_id=str(player_id))
            df = gamelog.get_data_frames()[0]
            
            # Ajout de l'ID du joueur dans une nouvelle colonne du DataFrame
            df['Player_ID'] = player_id  # Ajoute l'ID du joueur dans une nouvelle colonne
            
            all_players_stats_list.append(df)
        except Exception as e:
            print(f"Erreur lors de la récupération des données pour le joueur (ID: {player_id}): {e}")

    if all_players_stats_list:
        all_players_stats = pd.concat(all_players_stats_list, ignore_index=True)
        return all_players_stats
    else:
        return pd.DataFrame()

In [158]:
player_id = [d.get('id') for d in active_players]

next_players_games = fetch_next_player_games(player_id)

Erreur lors de la récupération des données pour le joueur (ID: 1641777): Expecting value: line 1 column 1 (char 0)
Erreur lors de la récupération des données pour le joueur (ID: 202687): Expecting value: line 1 column 1 (char 0)
Erreur lors de la récupération des données pour le joueur (ID: 1629716): Expecting value: line 1 column 1 (char 0)
Erreur lors de la récupération des données pour le joueur (ID: 1629717): Expecting value: line 1 column 1 (char 0)
Erreur lors de la récupération des données pour le joueur (ID: 1631219): Expecting value: line 1 column 1 (char 0)
Erreur lors de la récupération des données pour le joueur (ID: 1630528): Expecting value: line 1 column 1 (char 0)
Erreur lors de la récupération des données pour le joueur (ID: 1641731): Expecting value: line 1 column 1 (char 0)
Erreur lors de la récupération des données pour le joueur (ID: 1630700): Expecting value: line 1 column 1 (char 0)
Erreur lors de la récupération des données pour le joueur (ID: 1641926): Expecting value: line 1 column 1 (char 0)
Erreur lors de la récupération des données pour le joueur (ID: 203915): Expecting value: line 1 column 1 (char 0)
Erreur lors de la récupération des données pour le joueur (ID: 1631105): Expecting value: line 1 column 1 (char 0)
Erreur lors de la récupération des données pour le joueur (ID: 1641788): Expecting value: line 1 column 1 (char 0)
Erreur lors de la récupération des données pour le joueur (ID: 1629232): Expecting value: line 1 column 1 (char 0)
Erreur lors de la récupération des données pour le joueur (ID: 1641718): Expecting value: line 1 column 1 (char 0)
Erreur lors de la récupération des données pour le joueur (ID: 1628385): Expecting value: line 1 column 1 (char 0)
Erreur lors de la récupération des données pour le joueur (ID: 201980): Expecting value: line 1 column 1 (char 0)
Erreur lors de la récupération des données pour le joueur (ID: 1631199): Expecting value: line 1 column 1 (char 0)
Erreur lors de la récupération des données pour le joueur (ID: 203925): Expecting value: line 1 column 1 (char 0)
Erreur lors de la récupération des données pour le joueur (ID: 1641722): Expecting value: line 1 column 1 (char 0)
Erreur lors de la récupération des données pour le joueur (ID: 1630165): Expecting value: line 1 column 1 (char 0)
Erreur lors de la récupération des données pour le joueur (ID: 1630703): Expecting value: line 1 column 1 (char 0)
Erreur lors de la récupération des données pour le joueur (ID: 1641793): Expecting value: line 1 column 1 (char 0)
Erreur lors de la récupération des données pour le joueur (ID: 1627863): Expecting value: line 1 column 1 (char 0)
Erreur lors de la récupération des données pour le joueur (ID: 1631093): Expecting value: line 1 column 1 (char 0)
Erreur lors de la récupération des données pour le joueur (ID: 1631170): Expecting value: line 1 column 1 (char 0)
Erreur lors de la récupération des données pour le joueur (ID: 1629610): Expecting value: line 1 column 1 (char 0)
Erreur lors de la récupération des données pour le joueur (ID: 1631117): Expecting value: line 1 column 1 (char 0)
Erreur lors de la récupération des données pour le joueur (ID: 1630233): Expecting value: line 1 column 1 (char 0)
Erreur lors de la récupération des données pour le joueur (ID: 1631132): Expecting value: line 1 column 1 (char 0)
Erreur lors de la récupération des données pour le joueur (ID: 1631171): Expecting value: line 1 column 1 (char 0)
Erreur lors de la récupération des données pour le joueur (ID: 1641726): Expecting value: line 1 column 1 (char 0)
Erreur lors de la récupération des données pour le joueur (ID: 1631097): Expecting value: line 1 column 1 (char 0)
Erreur lors de la récupération des données pour le joueur (ID: 1641706): Expecting value: line 1 column 1 (char 0)
Erreur lors de la récupération des données pour le joueur (ID: 1631099): Expecting value: line 1 column 1 (char 0)
Erreur lors de la récupération des données pour le joueur (ID: 1641936): Expecting value: line 1 column 1 (char 0)
Erreur lors de la récupération des données pour le joueur (ID: 203506): Expecting value: line 1 column 1 (char 0)
Erreur lors de la récupération des données pour le joueur (ID: 1630196): Expecting value: line 1 column 1 (char 0)
Erreur lors de la récupération des données pour le joueur (ID: 1641764): Expecting value: line 1 column 1 (char 0)
Erreur lors de la récupération des données pour le joueur (ID: 1641811): Expecting value: line 1 column 1 (char 0)
Erreur lors de la récupération des données pour le joueur (ID: 1631157): Expecting value: line 1 column 1 (char 0)
Erreur lors de la récupération des données pour le joueur (ID: 201937): Expecting value: line 1 column 1 (char 0)
Erreur lors de la récupération des données pour le joueur (ID: 1631101): Expecting value: line 1 column 1 (char 0)
Erreur lors de la récupération des données pour le joueur (ID: 1630606): Expecting value: line 1 column 1 (char 0)
Erreur lors de la récupération des données pour le joueur (ID: 1631095): Expecting value: line 1 column 1 (char 0)
Erreur lors de la récupération des données pour le joueur (ID: 1631110): Expecting value: line 1 column 1 (char 0)
Erreur lors de la récupération des données pour le joueur (ID: 1631131): Expecting value: line 1 column 1 (char 0)
Erreur lors de la récupération des données pour le joueur (ID: 1630688): Expecting value: line 1 column 1 (char 0)
Erreur lors de la récupération des données pour le joueur (ID: 1641717): Expecting value: line 1 column 1 (char 0)
Erreur lors de la récupération des données pour le joueur (ID: 1641705): Expecting value: line 1 column 1 (char 0)
Erreur lors de la récupération des données pour le joueur (ID: 1629623): Expecting value: line 1 column 1 (char 0)
Erreur lors de la récupération des données pour le joueur (ID: 1631114): Expecting value: line 1 column 1 (char 0)

In [159]:
player_id_full_name = [{'Player_ID': d.get('id'), 'full_name': d.get('full_name')} for d in active_players]
player_id_full_name_df = pd.DataFrame(player_id_full_name)

In [162]:
next_players_games.head()

,GAME_ID,GAME_DATE,HOME_TEAM_ID,VISITOR_TEAM_ID,HOME_TEAM_NAME,VISITOR_TEAM_NAME,HOME_TEAM_ABBREVIATION,VISITOR_TEAM_ABBREVIATION,HOME_TEAM_NICKNAME,VISITOR_TEAM_NICKNAME,GAME_TIME,HOME_WL,VISITOR_WL,Player_ID
0,0022300755,"FEB 10, 2024",1610612752,1610612754,New York,Indiana,NYK,IND,Knicks,Pacers,07:30 PM,33-19,29-24,1630173
1,0022300765,"FEB 12, 2024",1610612745,1610612752,Houston,New York,HOU,NYK,Rockets,Knicks,08:00 PM,23-27,33-19,1630173
2,0022300778,"FEB 14, 2024",1610612753,1610612752,Orlando,New York,ORL,NYK,Magic,Knicks,07:00 PM,28-24,33-19,1630173
3,0022300794,"FEB 22, 2024",1610612755,1610612752,Philadelphia,New York,PHI,NYK,76ers,Knicks,07:00 PM,30-20,33-19,1630173
4,0022300816,"FEB 24, 2024",1610612752,1610612738,New York,Boston,NYK,BOS,Knicks,Celtics,08:30 PM,33-19,39-12,1630173

In [174]:
stat_player_game_with_names = pd.merge(next_players_games, player_id_full_name_df, on='Player_ID', how='right')

In [175]:
stat_player_game_with_names.head()

,GAME_ID,GAME_DATE,HOME_TEAM_ID,VISITOR_TEAM_ID,HOME_TEAM_NAME,VISITOR_TEAM_NAME,HOME_TEAM_ABBREVIATION,VISITOR_TEAM_ABBREVIATION,HOME_TEAM_NICKNAME,VISITOR_TEAM_NICKNAME,GAME_TIME,HOME_WL,VISITOR_WL,Player_ID,full_name
0,0022300755,"FEB 10, 2024",1.610613e+09,1.610613e+09,New York,Indiana,NYK,IND,Knicks,Pacers,07:30 PM,33-19,29-24,1630173,Precious Achiuwa
1,0022300765,"FEB 12, 2024",1.610613e+09,1.610613e+09,Houston,New York,HOU,NYK,Rockets,Knicks,08:00 PM,23-27,33-19,1630173,Precious Achiuwa
2,0022300778,"FEB 14, 2024",1.610613e+09,1.610613e+09,Orlando,New York,ORL,NYK,Magic,Knicks,07:00 PM,28-24,33-19,1630173,Precious Achiuwa
3,0022300794,"FEB 22, 2024",1.610613e+09,1.610613e+09,Philadelphia,New York,PHI,NYK,76ers,Knicks,07:00 PM,30-20,33-19,1630173,Precious Achiuwa
4,0022300816,"FEB 24, 2024",1.610613e+09,1.610613e+09,New York,Boston,NYK,BOS,Knicks,Celtics,08:30 PM,33-19,39-12,1630173,Precious Achiuwa

In [176]:
# Supposons que df est votre DataFrame

# Identifier les deux dernières colonnes
last_two_columns = stat_player_game_with_names.columns[-2:]

# Identifier les autres colonnes
other_columns = stat_player_game_with_names.columns[:-2]

# Créer une nouvelle liste d'ordre des colonnes
new_column_order = list(last_two_columns) + list(other_columns)

# Réorganiser le DataFrame avec le nouvel ordre des colonnes
stat_player_game_with_names = stat_player_game_with_names[new_column_order]

# Afficher le DataFrame réorganisé
stat_player_game_with_names.head()

,Player_ID,full_name,GAME_ID,GAME_DATE,HOME_TEAM_ID,VISITOR_TEAM_ID,HOME_TEAM_NAME,VISITOR_TEAM_NAME,HOME_TEAM_ABBREVIATION,VISITOR_TEAM_ABBREVIATION,HOME_TEAM_NICKNAME,VISITOR_TEAM_NICKNAME,GAME_TIME,HOME_WL,VISITOR_WL
0,1630173,Precious Achiuwa,0022300755,"FEB 10, 2024",1.610613e+09,1.610613e+09,New York,Indiana,NYK,IND,Knicks,Pacers,07:30 PM,33-19,29-24
1,1630173,Precious Achiuwa,0022300765,"FEB 12, 2024",1.610613e+09,1.610613e+09,Houston,New York,HOU,NYK,Rockets,Knicks,08:00 PM,23-27,33-19
2,1630173,Precious Achiuwa,0022300778,"FEB 14, 2024",1.610613e+09,1.610613e+09,Orlando,New York,ORL,NYK,Magic,Knicks,07:00 PM,28-24,33-19
3,1630173,Precious Achiuwa,0022300794,"FEB 22, 2024",1.610613e+09,1.610613e+09,Philadelphia,New York,PHI,NYK,76ers,Knicks,07:00 PM,30-20,33-19
4,1630173,Precious Achiuwa,0022300816,"FEB 24, 2024",1.610613e+09,1.610613e+09,New York,Boston,NYK,BOS,Knicks,Celtics,08:30 PM,33-19,39-12

# Store Curated Data

In [58]:
def get_now(for_files:bool=False):
    """Return today's date.

    Args:
        for_files (bool): if True, return now's date for files (without - between them)

    """
    now = datetime.now()
    if for_files:
        return now.strftime("%Y%m%d__%H%M%S")
    return now.strftime("%Y-%m-%d %H-%M-%S")

In [ ]:
def get_today():
    now = datetime.now()
    return now.strftime("%Y-%m-%d")

In [177]:
def store_dataframe_next_games(df):
    today = get_now()
    file_path = f"../dataset/player_next_games_{today}.csv"
    try:
        df.to_csv(file_path, index=False)
        print(f"DataFrame sauvegardé avec succès en tant que fichier CSV à : {file_path}")
    except Exception as e:
        print(f"Erreur lors de la sauvegarde du DataFrame : {e}")

In [61]:
def store_dataframe_player_stat(df):
    today = get_now()
    file_path = f"../dataset/player_stats_all_{today}.csv"
    try:
        df.to_csv(file_path, index=False)
        print(f"DataFrame sauvegardé avec succès en tant que fichier CSV à : {file_path}")
    except Exception as e:
        print(f"Erreur lors de la sauvegarde du DataFrame : {e}")

In [178]:
store_dataframe_next_games(stat_player_game_with_names)

DataFrame sauvegardé avec succès en tant que fichier CSV à : ../dataset/player_next_games_2024-02-09 19-18-07.csv

In [ ]:
def concat_dataframe(df1, df2):
    df_concatene = pd.concat([df1, df2], axis=0)
    return df_concatene

In [ ]:
all_players_stats_1 = pd.DataFrame("dataset/player_stats_all_2024-02-09 17-06-12.csv")